{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
<title>Grains an Agriculture Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
<!-- custom-theme -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Grains Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //custom-theme -->
<script type="text/javascript" src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>

<!-- stylesheet -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- Chocolat-CSS --> <link rel="stylesheet" href="{% static 'css/chocolat.css' %}" type="text/css" media="all">
<!-- animation --><link href="{% static 'css/animate.css' %}" rel="stylesheet" type="text/css" media="all">
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- //stylesheet -->
<!-- online fonts -->
<link href="//fonts.googleapis.com/css?family=Cormorant+Unicase:300,400,500,600,700&subset=cyrillic,latin-ext,vietnamese" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- //online fonts -->
<!-- font-awesome-icons -->
<link href="{% static 'css/font-awesome.css' %}" type="text/css" rel="stylesheet">
<!-- //font-awesome-icons -->
<!-- Supportive-JavaScript -->
<script src="{% static 'js/modernizr.js' %}"></script>
<!-- //Supportive-JavaScript -->
<script src="{% static 'js/forms.js' %}"></script>

<!-- <script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script> -->

	<!-- Script for forms -->

</head>
<body>
<!-- banner -->
<div class="banner">
	<nav class="navbar navbar-default">
		<div class="container">
		<div class="navbar-header navbar-left">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class="w3_navigation_pos">
				<h1><a href="{% url 'home:home' %}"><span>Hackfest19</span></a></h1>
			</div>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
			<nav class="link-effect-2" id="link-effect-2">
				<ul class="nav navbar-nav">
					<li class="active"><a href="index.html" class="scroll"><span data-hover="Home">Home</span></a></li>
					<li><a href="#about" class="scroll"><span data-hover="About" >About</span></a></li>
					<li><a href="{% url 'home:services' %}" class="scroll"><span data-hover="Services">Services</span></a></li>
					<li><a href="#portfolio" class="scroll"><span data-hover="Portfolio">Portfolio</span></a></li>
					<li><a href="#team" class="scroll"><span data-hover="Portfolio">Team</span></a></li>
					<li><a href="#contact" class="scroll"><span data-hover="Contact">Contact</span></a></li>
					{% if username == '' %}
						<li><a href="#singup" data-toggle="modal" data-target=".log-sign" class="scroll"><span data-hover="Sign in">Sign in</span></a></li>
					{% else %}
						<li><a href="#" class="scroll"><span data-hover="Sign in">{{ username }}</span></a></li>
					{% endif %}
				</ul>
			</nav>
		</div>
		</div>
	</nav>

    <!-- Crops -->
    <div class="jarallax wthreelocationsaits agile-section" id="portfolio" >
	<div class="container">
		<span class="wthree-line wthree-left"></span>
		<span class="wthree-line wthree-right"></span>
		<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
			<h3 class="agileits-title text-center">Categories</h3>
			<section class="grid3d vertical" id="grid3d">
				<div class="grid-wrap">
					<div class="grid">
						<figure class="col-md-4 effect-zoe"><img src="{% static 'images/g1.jpg' %}" alt="Odyssey"><figcaption><h4>CROPS</h4></figcaption></figure>
						<figure class="col-md-4 effect-zoe"><img src="{% static 'images/g7.jpg' %}" alt="Odyssey"><figcaption><h4>PLOUGH</h4></figcaption></figure>
						<figure class="col-md-4 effect-zoe"><img src="{% static 'images/g3.jpg' %}" alt="Odyssey"><figcaption><h4>LIVESTOCK</h4></figcaption></figure>
						<figure class="col-md-4 effect-zoe"><img src="{% static 'images/g4.jpg' %}" alt="Odyssey"><figcaption><h4>FARMING</h4></figcaption></figure>
						<figure class="col-md-4 effect-zoe"><img src="{% static 'images/g5.jpg' %}" alt="Odyssey"><figcaption><h4>GRAINS</h4></figcaption></figure>
						<figure class="col-md-4 effect-zoe"><img src="{% static 'images/g1.jpg' %}" alt="Odyssey"><figcaption><h4>RAISING</h4></figcaption></figure>
						<figure class="col-md-4 effect-zoe"><img src="{% static 'images/g2.jpg' %}" alt="Odyssey"><figcaption><h4>PADDY</h4></figcaption></figure>
						<figure class="col-md-4 effect-zoe"><img src="{% static 'images/g7.jpg' %}" alt="Odyssey"><figcaption><h4>CROPS</h4></figcaption></figure>
						<figure class="col-md-4 effect-zoe"><img src="{% static 'images/g6.jpg' %}" alt="Odyssey"><figcaption><h4>GRAINS</h4></figcaption></figure>
					</div>
				</div>
				<div class="content">
					<div>
						<div class="dummy-img dummy-img-1"><img src="{% static 'images/g1.jpg' %}" alt="Odyssey"></div>
						<p class="dummy-text aitsheadingw3">CROPS</p>
						<p class="dummy-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<div>
						<div class="dummy-img dummy-img-2"><img src="{% static 'images/g7.jpg' %}" alt="Odyssey"></div>
						<p class="dummy-text aitsheadingw3">PLOUGH</p>
						<p class="dummy-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<div>
						<div class="dummy-img dummy-img-3"><img src="{% static 'images/g3.jpg' %}" alt="Odyssey"></div>
						<p class="dummy-text aitsheadingw3">LIVESTOCK</p>
						<p class="dummy-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<div>
						<div class="dummy-img dummy-img-4"><img src="{% static 'images/g4.jpg' %}" alt="Odyssey"></div>
						<p class="dummy-text aitsheadingw3">FARMING</p>
						<p class="dummy-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<div>
						<div class="dummy-img dummy-img-5"><img src="{% static 'images/g5.jpg' %}" alt="Odyssey"></div>
						<p class="dummy-text aitsheadingw3">GRAINS</p>
						<p class="dummy-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<div>
						<div class="dummy-img dummy-img-6"><img src="{% static 'images/g1.jpg' %}" alt="Odyssey"></div>
						<p class="dummy-text aitsheadingw3">RAISING</p>
						<p class="dummy-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<div>
						<div class="dummy-img dummy-img-7"><img src="{% static 'images/g2.jpg' %}" alt="Odyssey"></div>
						<p class="dummy-text aitsheadingw3">PADDY</p>
						<p class="dummy-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<div>
						<div class="dummy-img dummy-img-8"><img src="{% static 'images/g7.jpg' %}" alt="Odyssey"></div>
						<p class="dummy-text aitsheadingw3">CROPS</p>
						<p class="dummy-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<div>
						<div class="dummy-img dummy-img-9"><img src="{% static 'images/g6.jpg' %}" alt="Odyssey"></div>
						<p class="dummy-text aitsheadingw3">GRAINS</p>
						<p class="dummy-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<span class="loading"></span>
					<span class="icon close-content"><i class="fa fa-times" aria-hidden="true"></i></span>
				</div>
			</section>
		</div>
	</div>
</div>
</body>
</html>