{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
<title>Agro Kendra | Jai Kisan, Jai Bharat</title>
<!-- custom-theme -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Grains Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //custom-theme -->
<script type="text/javascript" src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>

<!-- stylesheet -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- Chocolat-CSS --> <link rel="stylesheet" href="{% static 'css/chocolat.css' %}" type="text/css" media="all">
<!-- animation --><link href="{% static 'css/animate.css' %}" rel="stylesheet" type="text/css" media="all">
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- //stylesheet -->
<!-- online fonts -->
<link href="//fonts.googleapis.com/css?family=Cormorant+Unicase:300,400,500,600,700&subset=cyrillic,latin-ext,vietnamese" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- //online fonts -->
<!-- font-awesome-icons -->
<link href="{% static 'css/font-awesome.css' %}" type="text/css" rel="stylesheet">
<!-- //font-awesome-icons -->
<!-- Supportive-JavaScript -->
<script src="{% static 'js/modernizr.js' %}"></script>
<!-- //Supportive-JavaScript -->
<script src="{% static 'js/forms.js' %}"></script>

<!-- <script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script> -->

	<!-- Script for forms -->

</head>

<style>

</style>


<body >
<!-- banner -->
<div class="banner">
	{% include 'globals/nav2.html' %}
</div>



<!-- services -->
<div class="jarallax agileits-services agile-section" id="services"  style="background-image: url('{% static "images/7.jpg" %}'); position: fixed;  width: 100%; height: 100%;"; >
	<div class="container">
		<span class="wthree-line wthree-left"></span>
		<span class="wthree-line wthree-right"></span>
		<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
		<h3 class="agileits-title text-center">services</h3>
		<div class="w3agile-services text-center" >


			<a href="{% url 'home:crops' %}"><div class="col-md-3 w3_agileits-service-grid" style="position:absolute;top: 30%; left: 25%;">
				<span class="w3ls-icon fa fa-pagelines" aria-hidden="true"></span>
				<h4>CROPS</h4>
				<p>Contains categories of crops which are to be bought or added</p>
			</div>
			</a>
			<a href="#">
			<div class="col-md-3 w3_agileits-service-grid" style="position:absolute;top: 30%; left: 55%;">
				<span class="w3ls-icon fa fa-truck" aria-hidden="true"></span>
				<h4>COMMODITIES</h4>
				<p>Things to be bought for agriculture</p>
			</div>
			</a>



		</div>
	</div>
</div>
<!-- //services -->
</body>
</html>