{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
<title>Agro Kendra(कृषि केंद्र) | Jai Kisan, Jai Bharat</title>
<!-- custom-theme -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Grains Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //custom-theme -->
<script type="text/javascript" src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>

<!-- stylesheet -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- Chocolat-CSS --> <link rel="stylesheet" href="{% static 'css/chocolat.css' %}" type="text/css" media="all">
<!-- animation --><link href="{% static 'css/animate.css' %}" rel="stylesheet" type="text/css" media="all">
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- //stylesheet -->
<!-- online fonts -->
<link href="//fonts.googleapis.com/css?family=Cormorant+Unicase:300,400,500,600,700&subset=cyrillic,latin-ext,vietnamese" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- //online fonts -->
<!-- font-awesome-icons -->
<link href="{% static 'css/font-awesome.css' %}" type="text/css" rel="stylesheet"> 
<!-- //font-awesome-icons -->
<!-- Supportive-JavaScript -->
<script src="{% static 'js/modernizr.js' %}"></script>
<!-- //Supportive-JavaScript -->
<script src="{% static 'js/forms.js' %}"></script>

<!-- <script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script> -->

	<!-- Script for forms -->
<!--<style>
	center{
	    background-color: yellow;
	    border-style: solid;
	}
</style>-->
</head>
<body>
<!-- banner -->
<div class="banner">
	{% include 'globals/navbar.html' %}


	<div class="banner-info">
		<div class="container">
			<div class="slider">
				<div class="callbacks_container">
					<ul class="rslides" id="slider4">
						<li>
							<div class="w3ls-text">
								<h5>Agro Kendra (कृषि केंद्र)</h5>
								<h3>Useful for farmers</h3>
								<p>Sell all your grown products online openly to market without any intervention by middlemen.</p>
							</div>
						</li>
						<li>
							<div class="w3ls-text">
								<h5>Agro Kendra (कृषि केंद्र)</h5>
								<h3>Useful for consumers</h3>
								<p>Buy fresh products directly from farms.</p>
							</div>
						</li>
						<li>
							<div class="w3ls-text">
								<h5>Agro Kendra (कृषि केंद्र)</h5>
								<h3>Personalized Information</h3>
								<p>Get access to expert’s advice about latest research, new fertilizers, climate predictions, etc.</p>
							</div>
						</li>
					</ul>
				</div>
				<script src="{% static 'js/responsiveslides.min.js' %}"></script>
				<script>
					// You can also use "$(window).load(function() {"
					$(function () {
					  // Slideshow 4
					  $("#slider4").responsiveSlides({
						auto: true,
						pager:true,
						nav:true,
						speed: 500,
						namespace: "callbacks",
						before: function () {
						  $('.events').append("<li>before event fired.</li>");
						},
						after: function () {
						  $('.events').append("<li>after event fired.</li>");
						}
					  });
				
					});
				 </script>
				<!--banner Slider starts Here-->
			</div>
		</div>
		<div class="banner-bottom">
			<div class="container" style=" font-size:115%; font-weight:110%">
				<div id='bar1' class="col-md-4 col-sm-4 agile-banner-bottom-grid1 b1">
					<p>Sell all your grown products online openly to market without any intervention by middlemen, like we see nowadays.</p>
				</div>
				<div id='bar2' style='display:none;' class="col-md-4 col-sm-4 agile-banner-bottom-grid1 b1">
					<p>बिचौलियों द्वारा किसी भी हस्तक्षेप के बिना खुले तौर पर अपने सभी विकसित उत्पादों को बाजार में बेचें, जैसे कि आजकल हम देखते हैं।</p>
				</div>

				<div id='bar3' class="col-md-4 col-sm-4 agile-banner-bottom-grid1 b2">
					<p>Buy fresh products directly from farms at right price. Get access to right market and quickly buy products.</p>
				</div>
				<div id='bar4' style='display:none;' class="col-md-4 col-sm-4 agile-banner-bottom-grid1 b2">
					<p>सीधे उचित मूल्य पर खेतों से ताजा उत्पाद खरीदें। सही बाज़ार तक पहुँचें और जल्दी से उत्पाद खरीदें।</p>
				</div>

				<div id='bar5' class="col-md-4 col-sm-4 agile-banner-bottom-grid1">
					<p>Know current market price of your product and sell at better price to a bigger pool of consumers. </p>
				</div>
				<div id='bar6' style='display:none;' class="col-md-4 col-sm-4 agile-banner-bottom-grid1">
					<p>अपने उत्पाद के वर्तमान बाजार मूल्य को जानें और बेहतर कीमत पर उपभोक्ताओं के एक बड़े पूल को बेचें, जिससे आपके व्यवसाय का ऑनलाइन विस्तार हो। </p>
				</div>
				<a id='changeText' style=" font-size:150%; font-weight:240%; color:red;  " class="w3_agileits-about-right"><center>हिंदी में देखें</center></a>

				<div class="clearfix"></div>
			</div>	
		</div>
		<div class="w3-arrow bounce animated">
			<a href="#about" class="scroll"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
		</div>

	</div>
</div>
<!-- //banner -->



<!-- form -->


<!-- Modal -->
<div class="modal fade bs-modal-sm log-sign" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

        <div class="bs-example bs-example-tabs">
            <ul id="myTab" class="nav nav-tabs">
              <li id="tab1" class=" active tab-style login-shadow "><a href="#signin" data-toggle="tab">Log In</a></li>
              <li id="tab2" class=" tab-style "><a href="#signup" data-toggle="tab">Sign Up</a></li>

            </ul>
        </div>
      <div class="modal-body">
        <div id="myTabContent" class="tab-content">

        <div class="tab-pane fade active in" id="signin">
            <form action="{% url 'home:home' %}" method="POST" class="form-horizontal">{% csrf_token %}
            	<fieldset>
	            <!-- Sign In Form -->
	            <!-- Text input-->
	            {% if login_form.errors %}
				    {% for field in login_form %}
				        {% for error in field.errors %}
				            <div class="alert alert-danger">
				                <strong>{{ error|escape }}</strong>
				            </div>
				        {% endfor %}
				    {% endfor %}
				    {% for error in login_form.non_field_errors %}
				        <div class="alert alert-danger">
				            <strong>{{ error|escape }}</strong>
				        </div>
				    {% endfor %}
				{% endif %}
            	<div class="group">
					{{ login_form.username }}<span class="highlight"></span><span class="bar"></span>
    				<label class="label" for="date">Username</label>
    			</div>

            <!-- Password input-->
            <div class="group">
				{{ login_form.password }}<span class="highlight"></span><span class="bar"></span>
    <label class="label" for="date">Password</label>
    </div>
<em>minimum 6 characters</em>

           <div class="forgot-link">
            <a href="#forgot" data-toggle="modal" data-target="#forgot-password"> I forgot my password</a>
            </div>


            <!-- Button -->
            <div class="control-group">
              <label class="control-label" for="signin"></label>
              <div class="controls">
                <button id="signin" name="signin" class="btn btn-primary btn-block">Log In</button>
              </div>
            </div>
            </fieldset>
            </form>
        </div>


        <div class="tab-pane fade" id="signup">
            <form action="{% url 'home:home' %}" method="POST" class="form-horizontal">{% csrf_token %}
	            <fieldset>
	            <!-- Sign Up Form -->
	            <!-- Text input-->
	            {% if signup_form.errors %}
				    {% for field in signup_form %}
				        {% for error in field.errors %}
				            <div class="alert alert-danger">
				                <strong>{{ error|escape }}</strong>
				            </div>
				        {% endfor %}
				    {% endfor %}
				    {% for error in signup_form.non_field_errors %}
				        <div class="alert alert-danger">
				            <strong>{{ error|escape }}</strong>
				        </div>
				    {% endfor %}
				{% endif %}
	            <div class="group">
					{{ signup_form.firstname }}<span class="highlight"></span><span class="bar"></span>
					    <label class="label" for="date">First Name</label>
				</div>

					            <!-- Text input-->
				<div class="group">
					{{ signup_form.lastname }}<span class="highlight"></span><span class="bar"></span>
					    <label class="label" for="date">Last Name</label>
				</div>

					            <!-- Password input-->
				<div class="group">
					{{ signup_form.username }}<span class="highlight"></span><span class="bar"></span>
					<label class="label" for="date">Username</label>
				</div>


				<div class="group">
					{{ signup_form.mobile_no }}<span class="highlight"></span><span class="bar"></span>
					<label class="label" for="date">Mobile No</label>
				</div>

					            <!-- Text input-->
				<div class="group">
					{{ signup_form.password1 }}<span class="highlight"></span><span class="bar"></span>
					    <label class="label" for="date">Password</label>
				</div>
					              <em>1-8 Characters</em>

				<div class="group">
					{{ signup_form.password2 }}<span class="highlight"></span><span class="bar"></span>
					    <label class="label" for="date">Confirm Password</label>
				</div>

					<div class="group2">
					{{ signup_form.country }}<span class="highlight"></span><span class="bar"></span>
					    <label class="label" for="date">Country</label>
					</div>



		            <!-- Button -->
		            <div class="control-group">
		              <label class="control-label" for="confirmsignup"></label>
		              <div class="controls">
		                <button id="confirmsignup" name="signup" class="btn btn-primary btn-block">Sign Up</button>
		              </div>
		            </div>
				</fieldset>
            </form>
      </div>
    </div>
      </div>
    </div>
  </div>
</div>



<!--modal2-->

<div class="modal fade bs-modal-sm" id="forgot-password" tabindex="0" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Password will be sent to your email</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
        <fieldset>
        <div class="group">
<input required="" class="input" type="text"><span class="highlight"></span><span class="bar"></span>
    <label class="label" for="date">Email address</label></div>


        <div class="control-group">
              <label class="control-label" for="forpassword"></label>
              <div class="controls">
                <button id="forpasswodr" name="forpassword" class="btn btn-primary btn-block">Send</button>
              </div>
            </div>
          </fieldset>
            </form>

      </div>
    </div>

  </div>
</div>

<!-- about -->
<div class="jarallax agileits-about agile-section" id="about">
	<div class="container">
		<span class="wthree-line wthree-left"></span>
		<span class="wthree-line wthree-right"></span>
<!--
		<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
-->
		<h3 class="agileits-title text-center">about us (हमारे बारे में)</h3>
		<div class="w3agile-about">
			<div class="col-md-6 col-sm-6 col-xs-6 w3_agileits-about-left">
				<div class="w3_agileits-about-bottom">
				</div>
			</div>
			<div id='text1' class="col-md-6 col-sm-6 col-xs-6 w3_agileits-about-right">
				<p style="font-size:110%; color:black">We intend to create an online platform for farmers where they can trade directly in the market without any of the brokers and other mediums. Thus, it will create a way of giving these farmers a wider reach to a bigger pool of consumers and will help them to increase their income. It will also help the rural community to expand their business online. Every registered farmer will get access to information such as best practices, daily market price, weather forecast, warehouse facilities and so on. They can also be made aware of all the government schemes, how to make proper use of them and how to beware of frauds.</p>

			</div>
			<div id='text2' style='display:none;' class="col-md-6 col-sm-6 col-xs-6 w3_agileits-about-right">
				<p style="font-size:110%; color:black">हम किसानों के लिए एक ऑनलाइन प्लेटफ़ॉर्म बनाने का इरादा रखते हैं जहाँ वे बिना दलालों और अन्य माध्यमों के सीधे बाज़ार में व्यापार कर सकें। इस प्रकार, यह इन किसानों को उपभोक्ताओं के एक बड़े पूल तक व्यापक पहुंच प्रदान करने का एक तरीका पैदा करेगा और उन्हें अपनी आय बढ़ाने में मदद करेगा। यह ग्रामीण समुदाय को अपने व्यवसाय का ऑनलाइन विस्तार करने में भी मदद करेगा। प्रत्येक पंजीकृत किसान को सर्वोत्तम प्रथाओं, दैनिक बाजार मूल्य, मौसम पूर्वानुमान, गोदाम की सुविधा और जैसी जानकारी तक पहुंच प्राप्त होगी। उन्हें सभी सरकारी योजनाओं के बारे में भी बताया जा सकता है कि उनका सही उपयोग कैसे किया जाए और धोखाधड़ी से कैसे बचा जाए।</p>

			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>	
<!-- //about -->


<!-- team -->
<div class="jarallax agileits-team agile-section" id="team">
	<div class="container">
		<span class="wthree-line wthree-left"></span>
		<span class="wthree-line wthree-right"></span>
<!--
		<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
-->
		<h3 class="agileits-title text-center">team (टीम)</h3>
		<div class="w3agile-team">
			<div class="col-md-4  col-sm-4 w3_agileits-team-grid" style="height:320px">
				<img src="{% static 'images/piyush.jpeg' %}" class="img-responsive" alt="">
				<div class="team-text">
					<h4>Piyush Karira</h4>
					<p>IIIT Jabalpur</p>
					<span>+91 9424812189</span>
				</div>	
				 <div class="social">
                        <ul>
							<li><a class="icon fb" href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a class="icon tw" href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a class="icon pin" href="#"><i class="fa fa-pinterest"></i></a></li>
							<li><a class="icon gp" href="#"><i class="fa fa-google-plus"></i></a></li>
						</ul>
				</div>
				<div class="team-msg">
					<a class="icon gp" href="#mailto:2016182@iiitdmj.ac.in"><i class="fa fa-envelope-o"></i></a>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="col-md-4 col-sm-4 w3_agileits-team-grid t2" style="height:320px">
				<img src="{% static 'images/sanjeev.jpeg' %}" class="img-responsive" alt="">
				<div class="team-text">
					<h4>Sanjeev Singh</h4>
					<p>IIIT Jabalpur</p>
					<span>+91 9198461946</span>
				</div>	
				 <div class="social">
                        <ul>
							<li><a class="icon fb" href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a class="icon tw" href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a class="icon pin" href="#"><i class="fa fa-pinterest"></i></a></li>
							<li><a class="icon gp" href="#"><i class="fa fa-google-plus"></i></a></li>
						</ul>
				</div>
				<div class="team-msg">
					<a class="icon gp" href="#mailto:2016226@iiitdmj.ac.in"><i class="fa fa-envelope-o"></i></a>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="col-md-4 col-sm-4 w3_agileits-team-grid" style="height:320px"><br>
				<img src="{% static 'images/rounak.jpeg' %}" class="img-responsive" alt="">
				<div class="team-text">
					<h4>Rounak Agarwal</h4>
					<p>IIIT Jabalpur</p>
					<span>+91 7225911381</span>
				</div>	
				 <div class="social">
                        <ul>
							<li><a class="icon fb" href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a class="icon tw" href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a class="icon pin" href="#"><i class="fa fa-pinterest"></i></a></li>
							<li><a class="icon gp" href="#"><i class="fa fa-google-plus"></i></a></li>
						</ul>
				</div>
				<div class="team-msg">
					<a class="icon gp" href="mailto:2016217@iiitdmj.ac.in"><i class="fa fa-envelope-o"></i></a>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>	
<!-- //team -->
<!-- Contact-form -->
<div class="jarallax contact-form agile-section" id="contact">
	<div class="container">	
	<span class="wthree-line wthree-left" style="margin-top:30px"></span>
	<span class="wthree-line wthree-right" style="margin-top:30px"></span>
<!--
	<i class="fa fa-ellipsis-h" aria-hidden="true" style="margin-top:28px"></i>
-->
	<h3 class="agileits-title text-center">Contact Us (हमसे संपर्क करें)</h3>
	<div class="w3agile-contact text-center">
			<div class="col-md-4 col-sm-4 w3_agileits-contact-grid">
				<span class="w3ls-icon fa fa-map-marker" aria-hidden="true"></span>
				<h4>Address (पता)</h4>
				<ul>
					<li>IIIT Jabalpur Campus</li>
					<li>Airport Road, Khamaria</li>
					<li>Jabalpur, India.</li>
				</ul>
			</div>
			<div class="col-md-4 col-sm-4 w3_agileits-contact-grid sr1">
				<span class="w3ls-icon fa fa-phone" aria-hidden="true"></span>
				<h4>phone (फ़ोन)</h4>
				<ul>
					<li>+91 9424812189</li>
					<li>+91 9198461946</li>
					<li>+91 7225911381</li>
				</ul>
			</div>
			<div class="col-md-4 col-sm-4 w3_agileits-contact-grid sr2">
				<span class="w3ls-icon fa fa-envelope-o fa-lg" aria-hidden="true"></span>
				<h4>contacts (संपर्क)</h4>
				<ul>
					<li><a href="mailto:2016182@iiitdmj.ac.in">2016182@iiitdmj.ac.in</a></li>
					<li><a href="mailto:2016217@iiitdmj.ac.in">2016217@iiitdmj.ac.in</a></li>
					<li><a href="mailto:2016226@iiitdmj.ac.in">2016226@iiitdmj.ac.in</a></li>
				</ul>
			</div>

			<div class="clearfix"></div>
		</div>

	</div>	
</div>	
<!-- //Contact-form -->
<!-- modal -->
<div class="modal about-modal fade" id="myModal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header"> 
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
					<h4 class="modal-title">grains</h4>
			</div> 
			<div class="modal-body">
				<div class="agileits-w3layouts-info">
					<img src="{% static 'images/2.jpg' %}" alt="" />
					<p>Duis venenatis, turpis eu bibendum porttitor, sapien quam ultricies tellus, ac rhoncus risus odio eget nunc. Pellentesque ac fermentum diam. Integer eu facilisis nunc, a iaculis felis. Pellentesque pellentesque tempor enim, in dapibus turpis porttitor quis. Suspendisse ultrices hendrerit massa. Nam id metus id tellus ultrices ullamcorper.  Cras tempor massa luctus, varius lacus sit amet, blandit lorem. Duis auctor in tortor sed tristique. Proin sed finibus sem.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //modal -->
<!-- map -->
<div class="agileits_w3layouts-map">
	<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14671.136770026184!2d80.02505515!3d23.1780753!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1547224684843" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<!--//map -->
<!-- footer -->
<div class="agileits_w3layouts-footer">
	<div class="col-md-6  agileinfo-copyright">
		<p>© 2019 Agro Kendra. All rights reserved</p>
	</div>
	<div class="col-md-6 agileinfo-icons">
		<ul>
			<li><a class="icon fb" href="#"><i class="fa fa-facebook"></i></a></li>
			<li><a class="icon tw" href="#"><i class="fa fa-twitter"></i></a></li>
			<li><a class="icon pin" href="#"><i class="fa fa-pinterest"></i></a></li>
			<li><a class="icon gp" href="#"><i class="fa fa-google-plus"></i></a></li>
		</ul>
	</div>
</div>
<!-- //footer -->
<!--portfolio-JavaScript -->
		<script src="{% static 'js/classie.js' %}"></script>
		<script src="{% static 'js/helper.js' %}"></script>
		<script src="{% static 'js/grid3d.js' %}"></script>
		<script>
			new grid3D( document.getElementById( 'grid3d' ) );
		</script>
<!-- portfolio-JavaScript --
<script src="js/jarallax.js"></script>
<script src="js/SmoothScroll.min.js"></script>
<script type="text/javascript">
	/* init Jarallax */
	$('.jarallax').jarallax({
		speed: 0.5,
		imgWidth: 1366,
		imgHeight: 768
	})
</script>
<!-- here starts scrolling icon -->
		<script type="text/javascript">
			$(document).ready(function() {
				/*
					var defaults = {
					containerID: 'toTop', // fading element id
					containerHoverID: 'toTopHover', // fading element hover id
					scrollSpeed: 1200,
					easingType: 'linear' 
					};
				*/
										
				$().UItoTop({ easingType: 'easeOutQuart' });
									
				});
		</script>
		
		<!-- start-smoth-scrolling -->
		<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
<script>


   $("#changeText").click(function(){
        var ct = $(this).html();
        if (ct == "<center>हिंदी में देखें</center>") {
                // do something
                $("#text1").css("display", "none");
                $("#text2").css("display", "block");
                $("#bar1").css("display", "none");
                $("#bar2").css("display", "block");
                $("#bar3").css("display", "none");
                $("#bar4").css("display", "block");
                $("#bar5").css("display", "none");
                $("#bar6").css("display", "block");
                $(this).html("<center>See in English</center>");
        } else {
                // do something
                $("#text2").css("display", "none");
                $("#text1").css("display", "block");
                $("#bar2").css("display", "none");
                $("#bar1").css("display", "block");
                $("#bar4").css("display", "none");
                $("#bar3").css("display", "block");
                $("#bar6").css("display", "none");
                $("#bar5").css("display", "block");
                $(this).html("<center>हिंदी में देखें</center>");
        };
});
</script>
		<!-- <script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script> -->
		<!-- /ends-smoth-scrolling -->
	<!-- //here ends scrolling icon -->

	{% if login_error %}
		<script type="text/javascript">
			$(document).ready(function(){
		        $("#myModal").modal('show');
		        $('#id_username').prop('autofocus', true);
		        $('#id_password').val('');
		    });
		</script>
	{% endif %}

	{% if signup_error %}
		<script type="text/javascript">
			$(document).ready(function(){
				$("#myModal").modal('show');

				// Toggling the tab data
				$('#signup').addClass('active in');
				$('#signin').removeClass('active in')

				// Toggling the tab activeness
				$('#tab2').addClass('active');
				$('#tab1').removeClass('active');

				$('#tab2').addClass('signup-shadow');
   				$('#tab1').removeClass('login-shadow');
		    });
		</script>
	{% endif %}


</body>	
</html>